body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkgray;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 20px;
}

canvas {
  margin-top: 20px;
  cursor: crosshair;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.buttons button {
  font-weight: bold;
  font-size: 15px;
}

.cross_or_circle,
.save_or_load {
  display: flex;
  justify-content: space-between;
}

.cross_or_circle button {
  width: 140px;
}

.save_or_load button {
  width: 140px;
  font-size: 14px;
}

.save_or_load label {
  width: 140px;
  font-size: 14px;
  font-weight: 600;
  background-color: #efefef;
}

#dataset ~ label {
  font-size: 14px;
  font-weight: 600;
  background-color: #efefef;
}
